.products-grid {
  display: grid;

  /* - In CSS Grid, 1fr means a column will take up the
       remaining space in the grid.
     - If we write 1fr 1fr ... 1fr; 8 times, this will
       divide the grid into 8 columns, each taking up an
       equal amount of the space.
     - repeat(8, 1fr); is a shortcut for repeating "1fr"
       8 times (instead of typing out "1fr" 8 times).
       repeat(...) is a special property that works with
       display: grid; */
  grid-template-columns: repeat(8, 1fr);
}

/* @media is used to create responsive design (making the
   website look good on any screen size). This @media
   means when the screen width is 2000px or less, we
   will divide the grid into 7 columns instead of 8. */
@media (max-width: 2000px) {
  .products-grid {
    grid-template-columns: repeat(7, 1fr);
  }
}

/* This @media means when the screen width is 1600px or
   less, we will divide the grid into 6 columns. */
@media (max-width: 1600px) {
  .products-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1300px) {
  .products-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1000px) {
  .products-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 800px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 575px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
}

.product-container {
  padding-top: 38px;
  padding-bottom: 27px;
  padding-left: 20px;
  padding-right: 20px;

  border-right: 1px solid rgb(231, 231, 231);
  border-bottom: 1px solid rgb(231, 231, 231);
}
.product-image-container {
  display: flex;
  justify-content: center;
}
.product-image {
  width: 160px;
}
.product-name {
  margin-top: 24px;
  height: 40px;
  /* line-height: 20px; */
}
.product-rating-container {
  display: flex;
  align-items: center;
  margin-top: 4px;
}
.product-rating-stars {
  width: 100px;
}
.product-rating-count {
  margin-top: 2px;
  background-color: transparent;
  border: none;
  font-size: 16px;
}
.product-price {
  font-weight: bold;
  margin-top: 10px;
}
.product-quantity {
  margin-top: 10px;
}
.add-to-cart-button {
  display: block;
  margin-top: 46px;
  width: 100%;
  padding: 8px;
  border-radius: 20px;
}
